label{
    display:block;
    padding:10px;
}
form{
    text-align:center;
    background-color:bisque;
    margin:0px 100px 0px 100px;
}
h1{
    text-align:center;
}
#submit{
    padding:10px;
}
input[type=submit]{
    background-color:beige;
}
input[type=submit]:hover{
    background-color:pink;
}